* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  --hover-color: orange;
  --hover-color-grey: lightgrey;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.bottombr {
  border-bottom: 1px solid rgba(211, 211, 211, 0.181);
}

.xeven-logo {
  width: 23rem;
  height: fit-content;
  /* border: 1px solid black; */
}

.logo {
  width: 100%;
  height: 7.5rem;
  padding-top: 1.5em;
  /* border: 1px solid black; */
}
.logo img {
  display: block;
  width: 100%;
}

.navbar-nav {
  position: absolute;
  right: 0%;
  padding-top: 1em;
  /* border: 1px solid greenyellow!important; */
}
.navbar-nav .nav-link {
  color: white;
  transition: all 600ms ease-in-out;
}
.navbar-nav .nav-link::after{
  content: "";
  display: block;
  border: 1px solid white;
  width: 0%;
  opacity: 0;
  transition: all 600ms ease-in-out;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
  opacity: 1;
}
.navbar a:hover {
  /* color: rgb(246, 215, 156); */
  color: var(--hover-color-grey);
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items li {
  display: inline-block;
}
.navbar .nav-item {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.dropdown li {
  font-size: 1.5rem;
}

.dropdown li a:hover {
  color: var(--hover-color);
}
.navbar .enrol-btn {
  display: inline-block;
  width: 12rem!important;
  height: fit-content;
  color: green;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1rem;
  transition: all 600ms ease-in-out;
}

.transparant-box {
  height: fit-content;
  background-color: rgba(26, 26, 26, 0.433);
  border-radius: 1rem;
  padding: 5em 3em;
  box-shadow: 0rem 0rem 1.5rem rgba(255, 255, 255, 0.104);
}

.med-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: white;
  font-weight: bolder;
}

.input-box::after{
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: -2%;
  display: block;
  border: 2px solid white;
  width: 30%;
  opacity: 0;
  transition: all 600ms ease-in-out;
}
.input-box:hover:after{
  width: 100%;
  opacity: 1;
}
.input-boxes label {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.input-boxes input {
  background: none;
  border: none;
  display: block;
  width: 100%;
  padding: 1.5em 0.5em 0.5em 0.5em;
  color: white;
  font-size: 1.5rem;
}
.input-boxes input:focus{
  outline: none;
}
.input-boxes select {
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 1.5em 0em 0em 0em !important;
  font-size: 1.5rem;
  color: white;
}

.input-boxes select:focus {
  background: rgba(26, 26, 26, 0.433);
  color: white;
  outline: none;
}

.submit-btn {
  width: 65%;
  height: fit-content;
  margin: 1rem auto 2rem auto;
  background-color: rgb(7, 219, 138);
  color: white;
  border-radius: 0.5rem;
  transition: all 600ms ease-in-out;
}
.submit-btn:hover {
  background-color: rgba(7, 219, 138, 0.733);
}
.submit-btn input {
  display: block;
  width: 100%;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.8em 0em;
  text-transform: uppercase;
}

.link-btn {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  width: 100%;
}

.link-btn a {
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
}

/* utility classes */
.container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
}

.input-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.input-boxes .input-box {
  position: relative;
  width: 48%;
  height: fit-content;
  margin: 2rem 0rem;
  border-bottom: 1px solid white;
  transition: all 600ms ease-in-out;
}

@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 95%;
  }

  .navbar-nav {
    position: static;
    background-color: black;
    padding: 2em 0em 3em 1em;
  }
  .enrol-btn {
    margin-left: 0.5rem;
  }

  .input-boxes {
    flex-direction: column;
  }
  .input-boxes .input-box {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 95%;
  }

  .navbar-nav {
    position: static;
    background-color: black;
    padding: 2em 0em 3em 1em;
  }
  .enrol-btn {
    margin-left: 0.5rem;
  }
}

@media (min-width: 993px) and (max-width: 1300px) {
  .navbar .hide-large {
    display: none;
  }
}
